*{
    margin: 0;
}
body{
    background-color: black;
}
    .main{
    height: 85vh;
    background-image: url("images/backgroundfront.jpg");
    background-size: max(100vw,1200px);
    background-position:center center ;
    background-repeat: no-repeat;
    position:relative;
}
.main .box{ 
    height: 85vh;
    width:100%;
    opacity:0.75;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 65vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height:70px;
}
nav img{
    width:150px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.details{
    height:74vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 20px;
}
.details> :nth-child(1){
    font-weight: 1000;
    font-size: 48px;
    text-align: center;
}
.details> :nth-child(2) {
    font-weight: 1000;
    font-size: 48px;
    text-align: center;
}
.details> :nth-child(3){
    font-size: 28px;
    font-weight: 450px;
    text-align: center;

}
.details> :nth-child(4){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.line{
    height:5px ;
    background-color: rgb(9, 120, 224);
    opacity: 0.5;
}
.btn{
    padding: 3px 8px;
    background-color: white;
    font-size: 18px;
}
.red{
background-color: red;
    color: white;
}
.red1{
    background-color: red;
        color: white;
padding: 6px 29px;
    height: 45px;
    font-weight: 500;
    font-size: 29px;
    border-radius: 7px color solid red;
}
.mail{
    background-color: rgba(0, 0, 0, 0.452);
    height: 33px ;
    width:250px;
    padding: 6px  29px;
    font-size: 20px;
    color: white;
}